.editIcon {
  cursor: pointer;

  width: 16px;
  height: 16px;

  background-image: url(../../../assets/icons/edit.svg);
  background-repeat: no-repeat;
  background-position:center ;
}

.title {
  display: flex;
  column-gap: 5px;
  align-items: center;

  height: 48px;
}

.title h3 {
  font-size: 20px;
  font-weight: 500;
}

.save {
  cursor: pointer;

  margin: 0 15px;
  padding: 5px 10px;

  color: #FFFFFF;

  background-color: #366EFF;
  border: none;
  border-radius: 2px;
}