.titleAndCloseBlock {
    display: flex;
    justify-content: space-between;

    margin-bottom: 30px;
}

.buttonsBlock {
    display: flex;
    justify-content: space-between;

    margin-top: 30px;
}

.packCoverWrapper {
    overflow: hidden;

    width: 70px;
}

.packCoverWrapper img {
    width: 100%;

    border-radius: 10px;
}
