/*.title {
    display: flex;
    justify-content: center;
}

.formControl {
    width: 400px;
}*/

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  margin-top: 10px;
}

.signInBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.signInLink {
  font-weight: bolder;
  color: #0066cb;
}

a:hover {
  color: black;
}

.wrapper {
  display: flex;
  justify-content: center;

  padding: 5rem 0;
}
