.button {
    padding: 2px;

    background-color: white;
    border: 0px;
}

.thead {
    background-color: #EFEFEF;
}

.thead th {
    font-weight: 600;
}

.tableContainer {
    margin-bottom: 20px;
}