.button {
  padding: 2px;

  background-color: white;
  border: 0;
}

.disabled {
  opacity: 0.5;
}

.thead {
  background-color: #efefef;
}

.thead th {
  font-weight: 600;
}

.tableContainer {
  margin-bottom: 20px;
}

.sortArrow {
  cursor: pointer;

  transform: rotate(180deg);

  margin-left: 5px;

  transition: transform .3s linear;
}

.sortArrowDown {
  transform: rotate(0deg);
}

