.avatar {
  width: 36px;
  height: 36px;
}

.avatar img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50px;
}

.name {
  cursor: pointer;

  font-size: 16px;
  font-weight: 500;
  color: #000000;
  text-decoration: none;

  border-bottom: 2px dashed #000;
}

.avatarWrapper {
  display: flex;
  column-gap: 10px;
  align-items: center;
}

a {
  color: #212121;
  text-decoration: none;
}
